.Custom {
  width: 100%;
  height: 100%;
  background-color: var(--LightGrayishcyan);
  font-family: var(--FamilyFont);
  text-align: right;
  border: none;
  border-radius: 8px;
  color: var(--Verydarkcyan);
  font-size: 24px;
  cursor: pointer;
}
::-webkit-input-placeholder {
  text-align: center;
}
.Custom:hover {
  border: 3px solid var(--Strongcyan);
  transition: 0.1s;
}
.Custom:active {
  border: 3px solid var(--Strongcyan);
  box-shadow: none;
}
.Custom:valid {
  box-shadow: none;
  border: 3px solid var(--Strongcyan);
}
.Custom:invalid {
  box-shadow: none;
  border: 3px solid red;
}
