.Button {
  margin-bottom: 5%;
  margin-left: 5%;
  color: var(--White);
  background-color: var(--Verydarkcyan);
  font-family: var(--Family);
  font-weight: bold;
}
.Button:focus {
  background-color: var(--Strongcyan);
}
