.Button {
  background-color: var(--Verydarkcyan);
  font-family: monospace;
  font-weight: bold;
  color: white;
}
.Button:focus {
  background-color: var(--Strongcyan);
  color: var(--Verydarkcyan);
}
