.css-ittuaa-MuiInputAdornment-root {
  padding-left: 10px;
  font-family: monospace;
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: var(--LightGrayishcyan);
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  font-family: monospace;
  color: var(--Verydarkcyan) !important;
}
