.MuiOutlinedInput-input {
  color: var(--Verydarkcyan) !important;
  font-family: monospace !important;
  font-weight: bold !important;
  padding: 0 50%;
  width: 100%;
}
.MuiOutlinedInput-root {
  background-color: var(--Lightgrayishcyan) !important;
  border-color: var(--Strongcyan);
}
.Mui-focused::after {
  border-color: var(--Strongcyan);
}
