.Text {
  color: var(--Verydarkcyan) !important;
  background-color: var(--White) !important;
  font-family: var(--Family) !important;
  font-weight: bold !important;
  border-radius: 1% !important;
  size: 100% !important;
  unicode-bidi: bidi-override !important;
}
