.OutputText {
  font-size: 24px;
  color: var(--Strongcyan);
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.OutputText p {
  direction: rtl;
}
.OutputText span {
  font-size: 10px;
  position: absolute;
  color: grey;
}
.OutputText label {
  font-size: 12px;
  color: white;
  float: left;
}
