.Input__container {
  background-color: white;
  font-size: 10px;
  color: grey;
  margin: 0;
  display: flex;
  flex-flow: column;
}

.Input__container p {
  margin-left: 5%;
}

.Button__container {
  display: grid;
  grid-template-rows: repeat(3, 35%);
  grid-template-columns: repeat(2, 48%);
}
.Output__Container {
  font-family: var(--Family);
  color: var(--White);
  background-color: var(--Verydarkcyan);
}
