.App {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  margin: 0;
  width: 100%;
  background-color: var(--Lightgrayishcyan);
}
.Container__in-out {
  background-color: white;
  padding: 35px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 25px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
@media screen and (min-width: 1024px) {
  .Container__in-out {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
  }
  .App {
    display: grid;
    justify-content: center;
  }
}
